<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | InShare - File Sharing Made Easy</title>
    <link rel="stylesheet" href="/Logincss/login.css">
</head>

<body>

    <section class="download">
      
        <!-- <% if(locals.error){ %>
        <h4><%= locals.error %> 😏</h4>
        <% } else { %>
        <h2>Login to inshare</h2>
        <!-- <p>L</p> -->
        <div class="download__meta">
            <!-- Add any meta information here if needed -->
        </div>
        <div class="send-btn-container">
            <form class="emaildata" action="/login" method="post" type="text/plain">
                <input class="email" type="text" placeholder="Email" name="Email" required>
                <input class="DownLink" type="password" placeholder="Password" name="Password" required>
                <div class="set_button"><button class="button-44" role="button">Login</button></div>
            </form>
            <div class="signup" style="margin-left: 32%;">
                <small><a class="signupbutton1" href="signup">Sign up</a></small>
            </div>
        </div>
        <!-- <% } %> -->
    </section>
    
</body>

</html>
